@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poetsen+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body , html {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    height:100vh;
    background-color:rgb(2, 6, 55);
    color:white;
    font-family:"Cal Sans";
}
button {
    font-family: inherit;
}
.container {
    height:100%;
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows:3fr 1fr;
    
}
.edit-section {
    grid-column:1;
    grid-row:1/-1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:5px solid rgb(15, 10, 86);
    border-radius:20px;
    gap:10px;
} 
#player-1 , #player-2 {
    width:75%;
    height:2em;
    border:5px solid rgb(15, 10, 86);
    border-radius:20px;
    outline: none;
}
.edit-section > label {
    font-size:20px;
}
.game-board-container{
    display: flex;
 grid-column:2;
 grid-row:1;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.players-viewer {
 display:flex;
 justify-content:space-evenly;
width:30em;
margin:10px;
font-size:20px;
}
.buttons-container {
    grid-column:2;
    grid-row:2;
    display: flex;
    justify-content: center;
    margin-top:1.5em;
    
}
.buttons-container > div > button {
    flex-grow:0;
    padding:1.5em;
    background-image:linear-gradient(90deg,rgb(37, 37, 118),rgb(94, 82, 221));
    outline: none;
    border:none;
    border-radius:20px;
    color:white;
}
.buttons-container > div > button:hover {
    box-shadow:2px 2px 5px 1px rgba(0, 0, 0, 0.488);
    border:1px solid white;
    padding:1.6em;
    transition:0.5s;
}
.game-board {
    display:grid;
    width:30em;
    height:30em;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap:10px;
    
}
.cell {
 border:4px solid rgb(221, 205, 205);
 border-radius:20px;
 font-size:7em;
 display:flex;
 justify-content: center;
 align-items: center;
}
.confirm-edit-btn {
    padding:10px 3em;
    margin:20px;
    border:3px solid rgb(10, 48, 1);
     color:rgb(10, 48, 1);
     background-color:rgb(65, 254, 65);
     border-radius:10px;
     box-shadow:1px 1px 5px 1px whitesmoke inset;
}
.game-status {
    display: none;
}

@media (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows:300px 2fr 1fr;
        gap:1em;
    }
    .edit-section {
        grid-row:1;
        grid-column:1;
    }
    .buttons-container {
        grid-row:3;
        grid-column:1;
    }
    .game-board-container {
        grid-row:2;
        grid-column:1;
        
    }
}